<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: flex;
            width: 100%;
            height: 100vh;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
        }
    </style>
</head>
<body>
    <form method="POST" action="{% url 'check_users_passwords' user_id=user_id %}">
            {% csrf_token %}
            {% if message %}
            <h3 style="color: red;">{{ message }}</h3><br>
            {% endif %}
            <p>Введите новый пароль</p>
            <p><input type="text" name="new_pass_1" required></p>
            <p>Повторите пароль</p>
            <p><input type="text" name="new_pass_2" required></p>
            <p><button type="submit">Отправить</button></p><br><br>
            <a href="{% url 'register_func' %}">Нет аккаунта? Регистрация тут</a>
    </form>
</body>
</html>