<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: flex;
            width: 100%;
            height: 100vh;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
        }
    </style>
</head>
<body>
    <form method="POST" action="{% url 'check_password' %}">
            {% csrf_token %}
            <p>Введите почту, указанную Вами при регистрации</p>
            <p><input type="email" name="entered_email" required></p>
            <p>Введите пароль, который был выслан Вам на электронную почту, указанную Вами при регистрации</p>
            <p><input type="text" name="entered_password" required></p>
            <p><button type="submit">Отправить</button></p><br><br>
            <a href="{% url 'register_func' %}">Нет аккаунта? Регистрация тут</a>
    </form>
</body>
</html>