<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form {
            display: flex;
            width: 100%;
            height: 100vh;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'send_password' %}">
        <h3>Восстановление пароля</h3>
        {% csrf_token %}
        {% if message %}
        <h3 style="color: red;">{{ message }}</h3>
        {% endif %}
        <p>Введите почту, которая была указана Вами при регистрации. На эту почту Вам придет ВРЕМЕННЫЙ пароль для генерации Вашего нового. Срок действия временного пароля - 15 минут.</p>
        <input type="email" name="sendEmail" required><br><br>
        <p><button type="submit">Отправить</button></p>
    </form>
</body>
</html>